th,
td,
tbody,
tr {
    text-align: center;
}

.table th,
.table td {
    max-width: 10em;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.smallerbr {
    display: block;
    content: "";
    margin-top: 0.7em;
}

.largerbr {
    display: block;
    content: "";
    margin-top: 3em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.selected {
    border: 3px solid black !important;
}

.editable {
    text-decoration: underline;
    border-style: double;
}

.Courses {
    display: flex;
    align-items: baseline;
}

.fabtn {
    cursor: pointer;
}

.disabledInput {
    cursor: not-allowed;
}